html {
    scroll-behavior: smooth;
  }
  @-webkit-keyframes cam-animation {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
   }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
   }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
   }
}

.project-card-no-image{
    border-top: 4px solid black;
}

#avatar2{
    height: 250px;
    width: 250px;
    border: solid 10px rgb(35, 157, 206);
    border-radius: 50%;
    animation-name: cam-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: cam-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index: -1;
}